<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <title>Beibei's ToDo App</title>
  </head>
  <body>
    <h1>Welcome to ToDo App</h1>
    <ul>
        {% for todo in todos%}
        <li>
            <input type = "checkbox" name = "done" {% if todo["Done"]%} checked {%endif%} disabled onchange = "this.form.submit()">
            <span {%if todo["Done"]%} style = "text-decoration: line-through" {%endif%}>{{ todo['Task']}} </span>
            <a href="{{ url_for('check', id = loop.index0)}}"> Check </a>
            <a href="{{ url_for('edit', id = loop.index0)}}"> Edit </a>
            <a href="{{ url_for('delete', id = loop.index0)}}"> Delete </a>
        </li>
        {% endfor%}
    </ul>
    <form action="{{ url_for('add')}}" method = "post">
        <input type = "text" name = "todo">
        <button type = "submit"> Add Todo </button>
    </form>
  </body>
</html>